* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.title-carousel {
  font-size: 40px;
  text-align: center;/* COLOR */
  color: #008FEA;
}

.carousel {
  position: relative;  
}

/* photos img */
.photos{/* cambio il display cosi da far stare le frecce accanto alle foto */
  display: inline-block;
}

.photos img {
  width: 700px;
  margin-top: 20px;
  display: none;
}
/* arrow */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
}

.arrow-left{
left: -30px;
}

.arrow-right{
right: 0;
}

/* button-photo */
nav {
  display: flex;
  justify-content: center;
}

nav > i {
  margin: 10px;
  color: #fff;
  border: solid 1px #008FEA;
  border-radius: 50%;
  font-size: 20px;
}

/* js classes */

nav > i.active {
  border: none;
  color: #008FEA;
  font-size: 23px;
}

.photos > img.active {
  display: inline-block;  
}
